/* General */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&display=swap');

* {
    margin:0;
    padding:0;
}

body {
    font-family: 'Space Grotesk', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(45, 43, 43)
}

/* Transition */
a, 
.btn {
    transition: all 300ms ease;
}
/*Desktop Nav */
nav, 
.nav-links {
    display:flex;
}
nav {
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    background-color: rgb(247, 243, 245);
}
.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}
a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}
a:hover {
    color: seagreen;
    text-decoration: underline;
    text-underline-offset: 0.8rem;
}
.logo {
    font-size: 1.8rem;
    
}
.logo:hover {
    color: rgb(111,165,177);
    cursor: default;
}

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}
.section-container, #profile {
    display: flex;
}
#profile {
    justify-content: center;
    gap:16rem;
    height: 80vh;
}

.pfp {
    display: flex;
    height: 350px;
    width: 350px;
    margin: auto;
    margin-right: 60px;
}
.text {
    align-self: center;
    text-align: center;
}

.text p{
    font-weight: 600;

}
.p1 {
    text-align: center;
}
.p2 {
    font-size:1.5rem;
    margin-bottom: 0.4rem;
}
.p3 {
    font-size:1rem;
    margin-bottom:1rem;
}
.name {
    font-size: 3rem;
    text-align: center;
}
#socials-container {
    display:flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon {
    cursor: pointer;
    height: 2rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}
.btn-color-1, .btn-color-2 {
    border: seagreen 0.1rem solid;
}
.btn-color-1:hover, .btn-color-2:hover {
    cursor: pointer;
    
}
.btn-color-1, .btn-color-2:hover {
    background: seagreen;
    color: white;
}
.btn-color-1:hover {
    background: seagreen; 
}
.btn-color-2 {
    background:none;
}
.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}
.btn-container{
    gap: 1rem;
}
#About {
    position: relative;
}
.abtitle {
    height:5vh;
    font-size: 2.3rem;;
}
.det-container{
    padding:1.5rem;
    flex:1;
    background:white;
    border:black 0.2rem solid;
    border-radius: 2rem;
    border-color:black;
    text-align: center;
}
.about-section-container {
    gap:4rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    height:80%;
    display:flex;
}
.ab-pic{
    border-radius:3rem;
    height:350px;
    margin: auto;
    margin-top:10%;
}
.arrow{
    position:absolute;
    right:-5rem;
    height:2rem;
    bottom:2rem;
    cursor:pointer;
}

.essay-containers{
    gap:2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    display:flex;
    
}

#Writing {
    position: relative;
}
.writing-subtitle {
    color: rgb(45, 43, 43);
    font-weight:500;
    font-size:1.75rem;
    margin-bottom:2rem;
}
.writing-details-container {
    display:flex;
    justify-content:center;
    flex-direction:column;
}
.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap:3rem;
    justify-content:space-around;
}
article {
    display:flex;
    width:10rem;
    justify-content: space-around;
    gap:0.5rem;
}
article .icon {
    cursor:pointer;
}
